/* facts */

.facts__conteiner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.facts__title {
    margin: 50px 0;
    font-size: 48px;
    text-align: center;
    font-family: Lobster;
    color: #e83a4b;
}

.facts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}


@media (max-width: 768px) {
    .facts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}