.combination {
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #e83a4b;
    padding: 30px;
    border-radius: 10px;
}

.title {
    font-family: "Roboto", serif;
    font-size: 20px;
    color: #e83a4b;
    margin: 0 0 20px 0;
}

.description {
    font-family: "Roboto", serif;
    font-size: 14px;
    margin: 0;
}

@media (max-width: 1021px) {
    .combination {
        width: 20%;
        justify-content: space-between;

    }
}

@media (max-width: 768px) {
    .combination {
        width: 35%;
    }
}

@media (max-width: 477px) {
    .combination {
        width: 90%;
    }
}